.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 35px;
}

.search-container {
  margin-left: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
}

.search-container div {
  width: 100px;
  margin-right: 15px;
}

.search-container input {
  margin-right: 50px;
  width: 100%;
  max-width: 600px;
  height: 50px;
  border: 1px solid #000000;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
}

@media (max-width: 375px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin-left: 0;
  }

  .search-container div {
    margin-bottom: 5px;
  }
}
